.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #000;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.status-bar.visible {
  opacity: 1;
}
